/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Debug */
.debug{

}
/* Utilities */


.container{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

/* General */
#main-header{
    min-height: 50px;
    background-color: #add8e6;
    line-height: 50px;
    padding: 10px 0;
}

nav{
    display: flex;
    background-color: #daa520;
    line-height: 25px;

}

.logo{
width: 25%;
border: 1px dashed red;
}

.link{
width: 50%;
border: 1px dashed red;
}

.login{
width: 25%;
border: 1px dashed red;
}
